body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: url(./Photos/11-11.jpeg) no-repeat center center/cover;
  position: relative;
}


* { color:#f3f2f0; text-decoration: none;}

@font-face {
  font-family: myfont;
  src: url(cheri.liney.ttf);
}
@font-face {
  font-family: laiba;
  src: url(MilkMango.ttf);
} 

.name{
  font-family: laiba;
  font-size: 12px; 
  position: absolute; 
  top: 50%; 
  right: 22%; 
  transform: translate(0,-50%);
}

.welcomeText{
  position: absolute;
  top: 72%;
  left: 11%;
  font-family: myfont;
  font-size: 25px;

}

/* zoom in zoom out functionality for click button */
.zoom-in-out-box {
  cursor: pointer;
  height: 90px;
  width: 160px;
  animation: zoom-in-zoom-out 1.8s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}


.clickMe{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 85%; 
  left: 43%;
}